@font-face {
    font-family: MyriadPro;
    src: url("/src/assets/directivos/fonts/MyriadPro-Regular.otf") format('opentype');
}


.container-1 {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    align-items: normal;
    margin-left: auto;
    margin-right: auto;

}


.carousel-image {
    width: 650px;
    max-width: 650px;
    min-width: 650px;
    border-radius: 10px;
    max-height: 450px;
    min-height: 450px;
    height: 450px;
}

.container-2 {
    display: flex;
    flex-wrap: wrap;
    padding-left: 45%;
}

.image-banner {
    width: auto;
}

.calendar {
    align-items: center;
    width: 360px;
}



.container-gallery {
    width: 650px;
    height: 439px;
}





:host ::ng-deep .p-image-preview-container>img {
    cursor: pointer;
    width: 650px;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}

:host ::ng-deep .p-galleria-indicator-onitem.p-galleria-indicators-right .p-galleria-indicators {
    right: 0;
    top: 0;
    height: 100%;
    align-items: flex-end;
    border-radius: 20px;
}

:host ::ng-deep .p-image-preview-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s;
    border-radius: 20px;
}



.images {
    width: 650px;
    height: 439px;
    object-fit: cover;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.image-container {
    width: 100%;
    object-fit: cover;
}


.image-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    padding-right: 5px;
    padding-top: 5px;
}

.card-content {
    width: 850px;
    border-radius: 12px;
}



@media (max-width: 576px) {

    .container-1 {
        display: flex;
        flex-wrap: wrap;
        margin: 15px;
        width: auto;
        align-items: normal;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;

    }

    .container-2 {
        display: flex;
        flex-wrap: wrap;
        padding-left: 45%;
    }

    .image-banner {
        width: auto;
    }

    .calendar {
        align-items: center;
        width: 360px;
    }

    .images-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 370px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 35%;
    }


    .image-item {
        width: 250px;
        height: 250px;
        border-radius: 12px;
        cursor: pointer;
        padding-right: 5px;
        padding-top: 5px;
    }

    .card-content {
        border-radius: 12px;
        width: 370px;
        margin-left: auto;
        margin-right: auto;
    }


}