<nz-spin [nzSpinning]="isLoading"></nz-spin>



<div *ngIf="!isLoading"
    style="justify-content: center;max-width: max-content;text-align: center;display: flex;align-items: center;flex-wrap: wrap;margin-left: auto;margin-right: auto;padding-left: 60px;margin-right: 60px;">
    <div style="padding-left: auto;padding-right: auto;text-align: center;">

        <div class="container-gallery">
            <p-galleria [value]="dataImagenes" [showItemNavigators]="false" [showIndicators]="true"
                [showIndicatorsOnItem]="true" [showThumbnails]="false" indicatorsPosition="right"
                [changeItemOnIndicatorHover]="true" >
                <ng-template pTemplate="item" let-item>
                    <div>
                        <p-image [src]="item.epi_url" [preview]="true" class="images"></p-image>
                    </div>
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="item.epi_url" class="images" />
                    </div>
                </ng-template>
            </p-galleria>
        </div>
    </div>

    <div style="text-align: center; padding-top: 35px;">
        <nz-card nzHoverable class="card-content" nzTitle="{{dataPromotion?.prm_title}}">

            <div style="text-align: left;">
                <b> <span nz-icon nzType="info-circle" style="color: #0a1c47;" nzTheme="outline"></span>  Descripción:</b>
            </div>
            <div style="width: auto; text-align: justify;">
                <h4> {{dataPromotion?.prm_description}} </h4>
            </div>
            <nz-divider></nz-divider>
            <div nz-row >
                <div nz-col nzSpan="12">
                    <div style="text-align: left;">
                        <b><span nz-icon nzType="bank"  style="color: #0a1c47;" nzTheme="outline"></span>  Empresa:</b>
                    </div>
                    <div style="width: auto; text-align: justify;">
                        <h4>  {{dataPromotion?.prm_company_name}} </h4>
                    </div>
                </div>
                <div nz-col nzSpan="12">
                    <div style="text-align: left;">
                        <b><span nz-icon nzType="global"  style="color: #0a1c47;" nzTheme="outline"></span>  País:</b>
                    </div>
                    <div style="width: auto; text-align: justify;">
                        <h4>  {{dataPromotion?.prm_country_name}} </h4>
                    </div>

                </div>
            </div>
           
            <nz-divider></nz-divider>
            <div nz-row>
                <div nz-col nzSpan="12">
                    <div style="text-align: left;">
                        <b><span nz-icon nzType="contacts"  style="color: #0a1c47;" nzTheme="outline"></span>  Contacto:</b>
                    </div>
                    <div style="width: auto; text-align: justify; margin-top: 8px;" >
                        <div >
                            <h4>  <span nz-icon nzType="user" style="color: #0a1c47;" nzTheme="outline"></span> {{dataPromotion?.prm_contact_name}} </h4>
                            <h4>  <span nz-icon nzType="whats-app" style="color: #0FC044;" nzTheme="outline"></span> <a [href]="cadenaWpp" target="_blank">
                                {{dataPromotion?.prm_phone}} </a> </h4>
                        </div>
                    </div>
                </div>
                <div  nz-col nzSpan="12">
                    <div style="text-align: left;">
                        <b><span nz-icon nzType="calendar"  style="color: #0a1c47;" nzTheme="outline"></span>  Vigencia:</b>
                    </div>
                    <div>
                        <nz-tag style="text-align: left;" [nzColor]="'green'" *ngIf="dataPromotion?.prm_always_current==null || dataPromotion?.prm_always_current==true" >
                            <b> VIGENTE AHORA </b>
                        </nz-tag>
                        <nz-tag style="text-align: left;" [nzColor]="'red'"  *ngIf="dataPromotion?.prm_effective_start_date!=null || dataPromotion?.prm_always_current==false" >
                            <b> Desde: {{dataPromotion?.prm_effective_start_date | date: 'mediumDate'}} </b>
                        </nz-tag>
                        <br>
                        <nz-tag style="text-align: left;" [nzColor]="'green'"  *ngIf="dataPromotion?.prm_effective_start_date!=null || dataPromotion?.prm_always_current==false" >
                            <b> Hasta: {{dataPromotion?.prm_effective_end_date | date: 'mediumDate'}} </b>
                        </nz-tag>
                    </div>

                </div>
            </div>
            
            <nz-divider></nz-divider>
            <div style="text-align: left;">
                <b><span nz-icon nzType="aim" style="color: #0a1c47;" nzTheme="outline"></span>  Ubicaciones:</b>
            </div>
            <div style="margin-top: 10px;">
                <google-map width="auto" [zoom]="zoom" [center]="center" [options]="options">
                    <map-marker #marker="mapMarker" *ngFor="let item of positions" [position]="item.pos"
                        [options]="item.options" [label]="item.label" (mapClick)="openInfoWindow(marker, item.info)">
                    </map-marker>
                </google-map>
            </div>
        </nz-card>
    </div>
</div>