.header-page {
    height: 70px;
    background-color: white;
}


.card-header {
    height: 35px;
    width: auto;
    position: absolute;
    top: 20px;
    right: 60px;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    text-align: center;
}

.filtro-cluster {
    width: 100%;
}

.filtro-empresa {
    width: 100%;
}

.filtro-pais {
    width: 100%;
}

.logo-item {
    align-items: center;
}

.icono-eljuri {
    width: 100px;
}


.top-center {
    position: sticky;
    text-align: center;
}

.container-1 {
    position: relative;
    text-align: center;
    color: white;
}


:host ::ng-deep .ant-result-info .ant-result-icon > .anticon {
    color: #f34336;
}


:host ::ng-deep .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
    position: relative;
    display: flex;
    flex: none;
    align-items: center;
    margin-top: -18px;
    margin-bottom: 40px;
}

:host ::ng-deep .ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    position: absolute;
    right: 0;
    left: 0;
    border-bottom: 1px solid #f0f0f0;
    content: '';
    border-color: transparent;
}

:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 30px;
    height: 24px;
    margin-top: -3px;
    font-size: 11px;
}

:host ::ng-deep .ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 18px;
    margin-top: -3px;
    font-weight: bold;
}

.cont-card {
    margin-top: -50px;
    text-align: center;
    align-items: center;
    margin-left: 30%;
}

.card-filtros {
    width: 750px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.container-2 {
    position: relative;
    text-align: center;
    color: white;
    display: none;
}

.top-left {
    position: absolute;
    top: 15px;
    left: 60px;
    align-items: center;
}

.top-right {
    position: absolute;
    top: 20px;
    right: 60px;
    align-items: center;
}

.top-right2 {
    position: absolute;
    top: 20px;
    right: 95px;
    align-items: center;
}


.logo-cluster {
    width: 30px;
}

.container-clusters {
    width: auto;
    height: 39px;
    text-align: center;
}

.menu-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    margin-top: -40px;
}

.card-content {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-page {
    width: 100%;
    padding: 15px 25px 0px 25px;
}

.card {
    padding: 25px;
    height: 226px;
    background-color: white;
    width: 286px;
    border-radius: 0 0 10px 10px;
    border-top: 3px solid #002554;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 30px 10px rgba(18, 18, 18, 0.1);
    box-shadow: 0px 0px 30px 10px rgba(18, 18, 18, 0.1);
}

#segment {
    background-color: #243661;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.icono-log {
    color: #0a1c47;
    font: icon;
    font-size: 20px;
}

@media (max-width: 576px) {

    .filtro-cluster {
        width: 100%;
    }
    
    .filtro-empresa {
        width: 100%;
    }
    
    .filtro-pais {
        width: 100%;
    }

    .cont-card {
        margin-top: -60px;
        text-align: center;
        align-items: center;
    }

    .card-header {
        height: 34px;
        width: auto;
        position: absolute;
        top: 80px;
        right: 60px;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        text-align: center;
    }

    .card-filtros {
        margin-left: -43%;
        margin-top: -30px;
        width: auto;
        height: 60px;
        margin-bottom: 60px;
        border-radius: 50px;
    }

    

    .top-center {
        position: sticky;
        text-align: center;
        font-size: 10px;
    }

    .icono-eljuri {
        width: 70px;
    }

    .icono-log {
        color: #0a1c47;
        font: icon;
        font-size: auto;
    }

    

    .filtros{
        margin-top: -18px;
    }

    

    .text-title-header {
        font-size: 20px;
    }

    .top-left {
        position: absolute;
        top: 80px;
        left: 10px;
        align-items: center;
    }

    .top-right {
        position: absolute;
        top: 80px;
        right: 10px;
        align-items: center;
    }

    .top-right2 {
        position: absolute;
        top: 80px;
        right: 20px;
        align-items: center;
    }

    .menu-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        position: relative;
        margin-top: -40px;
    }

    .card-content {
        right: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content-page {
        width: 100%;
        padding: 15px 25px 0px 25px;
    }

    .card {
        padding: 25px;
        height: 226px;
        background-color: white;
        width: 286px;
        border-radius: 0 0 10px 10px;
        border-top: 3px solid #002554;
        margin: 10px;
        -webkit-box-shadow: 0px 0px 30px 10px rgba(18, 18, 18, 0.1);
        box-shadow: 0px 0px 30px 10px rgba(18, 18, 18, 0.1);
    }

}

@media (max-width: 995px) {

    .filtro-cluster {
        width: 100%;
    }
    
    .filtro-empresa {
        width: 100%;
    }
    
    .filtro-pais {
        width: 100%;
    }

    .cont-card {
        margin-top: -60px;
        text-align: center;
        align-items: center;
    }

    .card-header {
        height: 34px;
        width: auto;
        position: absolute;
        top: 80px;
        right: 60px;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.08);
        text-align: center;
    }

    .card-filtros {
        margin-left: -43%;
        margin-top: -30px;
        width: auto;
        height: 60px;
        margin-bottom: 60px;
        border-radius: 50px;
    }

    

    .top-center {
        position: sticky;
        text-align: center;
        font-size: 10px;
    }

    .icono-eljuri {
        width: 70px;
    }

    .icono-log {
        color: #0a1c47;
        font: icon;
        font-size: auto;
    }

    

    .filtros{
        margin-top: -18px;
    }

    

    .text-title-header {
        font-size: 20px;
    }

    .top-left {
        position: absolute;
        top: 80px;
        left: 10px;
        align-items: center;
    }

    .top-right {
        position: absolute;
        top: 80px;
        right: 10px;
        align-items: center;
    }

    .top-right2 {
        position: absolute;
        top: 80px;
        right: 20px;
        align-items: center;
    }

    .menu-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        position: relative;
        margin-top: -40px;
    }

    .card-content {
        right: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content-page {
        width: 100%;
        padding: 15px 25px 0px 25px;
    }

    .card {
        padding: 25px;
        height: 226px;
        background-color: white;
        width: 286px;
        border-radius: 0 0 10px 10px;
        border-top: 3px solid #002554;
        margin: 10px;
        -webkit-box-shadow: 0px 0px 30px 10px rgba(18, 18, 18, 0.1);
        box-shadow: 0px 0px 30px 10px rgba(18, 18, 18, 0.1);
    }



}