<nz-content style="background-color: #050a17; height: auto;">

    <div nz-row>

        <div nz-col nzSpan="12"
            style="text-align: left;  display: flex; justify-content: flex-start; align-items: center">
            <h4 style="color: white; font-weight: lighter; padding-left: 10px; padding-top: 6px;"> © 2023 CEE, Corp.
            </h4>
        </div>
        <div nz-col nzSpan="12" style="text-align: right; 
        display: flex; justify-content: flex-end; align-items: center">

            <button  nz-tooltip nz-button (click)="goF()" nzType="text">
                <i  nz-icon nzType="facebook"  style="color: white; margin-right: 5px;">
                </i>
            </button>
            <button nz-tooltip nz-button (click)="goI()" nzType="text">
                <i nz-icon nzType="instagram" style="color: white; margin-right: 5px;">
                </i>
            </button>
            <button class="go-linkenlink" nz-tooltip nz-button (click)="goL()" nzType="text">
                <i nz-icon nzType="linkedin" style="color: white; margin-right: 5px;">
                </i>
            </button>
        </div>
    </div>
</nz-content>